WebApiWithGenericsExample/bin/Debug/netcoreapp1.1/WebApiWithGenericsExample.deps.json
WebApiWithGenericsExample/bin/Debug/netcoreapp1.1/WebApiWithGenericsExample.dll
WebApiWithGenericsExample/bin/Debug/netcoreapp1.1/WebApiWithGenericsExample.pdb
WebApiWithGenericsExample/bin/Debug/netcoreapp1.1/WebApiWithGenericsExample.runtimeconfig.dev.json
WebApiWithGenericsExample/bin/Debug/netcoreapp1.1/WebApiWithGenericsExample.runtimeconfig.json
WebApiWithGenericsExample/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
WebApiWithGenericsExample/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApiWithGenericsExample/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApiWithGenericsExample/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApiWithGenericsExample/obj/Debug/netcoreapp1.1/WebApiWithGenericsExample.AssemblyInfo.cs
WebApiWithGenericsExample/obj/Debug/netcoreapp1.1/WebApiWithGenericsExample.csproj.FileListAbsolute.txt
WebApiWithGenericsExample/obj/Debug/netcoreapp1.1/WebApiWithGenericsExample.csprojResolveAssemblyReference.cache
WebApiWithGenericsExample/obj/Debug/netcoreapp1.1/WebApiWithGenericsExample.dll
WebApiWithGenericsExample/obj/Debug/netcoreapp1.1/WebApiWithGenericsExample.pdb
WebApiWithGenericsExample/obj/project.assets.json
WebApiWithGenericsExample/obj/WebApiWithGenericsExample.csproj.nuget.g.props
WebApiWithGenericsExample/obj/WebApiWithGenericsExample.csproj.nuget.g.targets
